<launch>
  <rosparam param="/ros1_bridge/topics">
    - topic: /xycar_motor
      type: std_msgs/msg/Float32MultiArray
      queue_size: 10
  </rosparam>
  <group>
    <remap from="xycar_motor" to="/xycar_motor_safe" />
    <remap from="/xycar_motor" to="/xycar_motor_safe" />
    <include file="$(find xycar_motor)/launch/xycar_motor.launch" />
  </group>
  <node pkg="xycar_motor_safety"
        type="xycar_motor_watchdog.py"
        name="xycar_motor_watchdog"
        output="screen">
    <param name="timeout_sec" value="0.25" />
    <param name="publish_rate_hz" value="20.0" />
    <param name="stop_publish_count" value="5" />
  </node>
</launch>
