#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Exec=/home/xytron/xycar_ws/etc/gui-shell/x6.sh
Name=원격 조종
Comment=원격 조종
Icon=/home/xytron/xycar_ws/etc/icon/x6.png
